
#campos{
    font-family: Arial, sans-serif;
    position: static;
    left: 40%;
    top: 10%;  
    
}
#cabecalho{
    border-bottom: 3px #FF7F00 solid;
    height: 58px;
}
#mensagem{
    font-family: Arial, sans-serif;
    text-align: center;
    left: 30%;
}

#butonEnviar{
    font-family: Arial, sans-serif;
    position: absolute;
    bottom: 36%;
    left: 42%;
    
}
#butonCancelar{
   font-family: Arial, sans-serif;
   position: absolute;
    bottom: 36%;
    left: 52%; 
}

#interface{
    font-family: Arial, sans-serif;
    width: 900px;
    background-color: #FFBBFF;
    margin: 20px auto 20px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0, .5);/*Borda*/
    padding: 20px;
}
#rodape{
    font-family: Arial, sans-serif;
    text-align: center;
    border-top: 3px #FF7F00 solid;
    height: 51px;
}
